body {
    margin: 0px;
    background-color: #f7f7ff;
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-position: top right, left bottom;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    color: hsl(233, 13%, 49%);
    font-weight: 700;
    font-size: 36px;
    margin-top: 55px;
}
.toggle-wrapper {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    align-items: center;
    max-width: 270px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 60px;
}
.toggle-wrapper p {
    color: hsl(234, 14%, 74%);
}
.cards-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.side-cards {
    background-color: white;
    padding: 35px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    box-shadow: 0px 0px 20px 0px #CCC;
    border-radius: 10px;
    margin: 20px 0px;
}
.side-cards .title {
    font-family: Montserrat;
    color: hsl(233, 13%, 49%);
    font-size: 15px;
}
.side-cards p {
    margin: 0px;
    font-size: 15px;
    color: hsl(233, 13%, 49%);
}
.price-wrapper {
    display: flex;
    align-items: center;
    color: hsl(232, 13%, 33%);
    margin: 20px 0px;
 }
.side-cards .dollar {
    font-size: 25px;
    margin-right: 5px;
    color: hsl(232, 13%, 33%);
}
.side-cards .price {
    font-size: 50px;
    color: hsl(232, 13%, 33%);
}
.side-cards .seperator {
    border: 0.5px solid hsl(234, 14%, 74%);
    width: 100%;
    margin: 10px 0px;
}
.side-cards .button {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 7px;
    font-size: 15px;
    margin: 12px 0px;
}
.side-cards .button:hover {
    cursor: pointer;
    background-image: linear-gradient(to right , #fff , #fff);
    width: 100%;
    text-align: center;
    color: hsl(237, 63%, 64%);
    padding: 10px;
    border-radius: 7px;
    font-size: 15px;
    margin: 12px 0px;
    border: 1px solid hsl(237, 63%, 64%);
}
.center-card {
    font-family: Montserrat;
    background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    border-radius: 10px;
    padding: 65px 35px;
}
.center-card .title {
    font-family: Montserrat;
    color: hsl(240, 78%, 98%);
    font-size: 15px;
}
.center-card p {
    margin: 0px;
    font-size: 15px;
    color: hsl(240, 78%, 98%);
}
.center-card .price-wrapper {
    display: flex;
    align-items: center;
    color: hsl(240, 78%, 98%);
    margin: 20px 0px;
}
.center-card .dollar {
    font-size: 25px;
    margin-right: 5px;
    color: hsl(240, 78%, 98%);
}
.center-card .price {
    font-size: 50px;
    color: hsl(240, 78%, 98%);
}
.center-card .seperator {
    border: 0.5px solid hsl(240, 78%, 98%);
    width: 100%;
    margin: 10px 0px;
}
.center-card .button {
    background-color: hsl(240, 78%, 98%);
    width: 100%;
    text-align: center;
    color: hsl(237, 63%, 64%);
    padding: 10px;
    border-radius: 7px;
    font-size: 15px;
    margin: 12px 0px;
}
.center-card .button:hover{
    cursor: pointer;
    background: transparent;
    width: 100%;
    text-align: center;
    color: hsl(240, 78%, 98%);
    padding: 10px;
    border-radius: 7px;
    font-size: 15px;
    margin: 12px 0px;
    border: 1px solid hsl(240, 78%, 98%);
}

